//menu horizontal avec un login à droite
.menu {
	height: 40px;
	background-color: black;
	margin-bottom: 0px;
	text-align: left;
	li {
		margin-left: 20px;
		display: inline;
		color: blanchedalmond;
		line-height: 40px;
		text-size-adjust: 10px;
		&:nth-child(1) {
			margin-left: 80px;
		}
		&:last-child {
			position: absolute;
			right: 30px;
		}
	}
}