$bluue:rgb(72, 125, 218);

* {
	font-family: 'Source Sans Pro', sans-serif;
}
body {
	width: 100%;
}


//menu horizontal avec un login à droite
@import '../modulize/NavHead.scss';


//Bannière avec dessins à gauche , titre et button center
header {
	text-align: center;
	height: 400px;
	background-color: $bluue;
	color: white;
	.ban {
		width: 350px;
		height: 350px;
		position: absolute;
		left: 70px;
	}
}


button {
	text-transform: uppercase;
	margin: auto;
	display: block;
	text-align: center;
	position: relative;
	top: 60%;
	background-color: orange;
	color: white;
	border: solid 3px;
	border-radius: 5px;
	height: 60px;
	width: 200px;
}
h2 {
	text-align: center;
}
section {
	color: white;
	background-color:$bluue;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	padding-top: 20px;
	padding-bottom: 30px;
}
article {
	margin-left: 50px;
	margin-right: 50px;
	h2 {
		text-align: left;
		font-size: 20px;
		font-weight: bold;
		font-family: cursive;
		margin-top: 30px;
	}
}
h3 {
	text-align: center;
}


//footer logo
@import '../modulize/BannLogo.scss';


.menu2 {
	ul {
		text-align: center;
	}
	li {
		display: inline-block;
		background-color: $bluue;
		width: 150px;
		height: 40px;
		border-radius: 5px;
		color: white;
		line-height: 40px;
		&:last-child {
			background-color: rgb(226, 151, 11);
		}
	}
}


//menu footer
@import '../modulize/NavFoot.scss'
